.v-navigation-drawer__scrim.fade-transition-leave-to {
  display: none;
}

.v-navigation-drawer__scrim {
  position: fixed;
}
.primary-navbar {
  .v-navigation-drawer__content {
    display: flex;
    flex-direction: column;
  }
  .v-list {
    background: transparent;
    color: white;
  }
}